<li class="dropdown">
  <a href="javascript:void(0)" class="dropbtn">More</a>
  <div class="dropdown-content">
    <a href="/">My Focus</a>
    <a href="/friends">Friends</a>
    <a href="/fake">Login</a>
  </div>
</li>
