<html>
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/fake.js"></script>
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/focusbar.css" rel="stylesheet">
  <link href="/css/fake.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/dropdown.css">
  <script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
		<div id="footer">
	<div class="container">
		<div class="jumbotron">
<ul>

  <li><a2>{{#if user}}{{user.name}}'s {{/if}}Login Page</a2></li>

  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">More</a>
    <div class="dropdown-content">
      <a href="/">My Focus</a>
      <a href="/friends">Friends</a>
      <a href="/fake">Login</a>
    </div>
  </li>
</ul>

	</div>
<div class="google-btn">
  <div class="google-icon-wrapper">
    <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
  </div>
  <a class="btn-text" href="/auth/google"><b>Sign in with google</b></a>
</div>

<!-- <form name="loginEmail" onsubmit="return validateForm();" method="post">

<ul>
<li>USERNAME: <input class="username" type="text" name="username">
</li>

<li>PASSWORD: <input class="password" type="text" name="password">
 </li>
</ul>

<a href="javascript: history.go(-1)">Login</a>

</form> -->
</div>
</div>

</body>
</html>
